.contact-us {
  background-color: #ffffff;
  min-height: 2131px;
  min-width: 1440px;
  position: relative;
  width: 100%;
}

.contact-us .screenshot-capture {
  aspect-ratio: 3.63;
  height: 565px;
  left: 0;
  position: absolute;
  top: 80px;
  width: 1440px;
}

.contact-us .rectangle {
  height: 379px;
  left: 0;
  position: absolute;
  top: 1384px;
  width: 1440px;
}

.contact-us .vector {
  height: 163px;
  left: 500px;
  position: absolute;
  top: 1484px;
  width: 221px;
}

.contact-us .img {
  height: 163px;
  left: 704px;
  position: absolute;
  top: 1484px;
  width: 221px;
}

.contact-us .text-wrapper {
  color: #ffffff;
  font-family: "Helvetica Neue-Bold", Helvetica;
  font-size: 48px;
  font-weight: 700;
  left: calc(50.00% - 365px);
  letter-spacing: 0;
  line-height: 62.4px;
  position: absolute;
  top: 1543px;
  white-space: nowrap;
}

.contact-us .frame {
  background-color: #179fd9;
  height: 368px;
  left: 0;
  position: absolute;
  top: 1763px;
  width: 1440px;
}

.contact-us .div {
  color: #ececec;
  font-family: "Helvetica Neue-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 124px;
  letter-spacing: 0;
  line-height: 27px;
  position: absolute;
  top: 130px;
  width: 172px;
}

.contact-us .text-wrapper-2 {
  color: #ecececcc;
  font-family: "Helvetica Neue-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 542px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 114px;
  white-space: nowrap;
}

.contact-us .text-wrapper-3 {
  color: #ecececcc;
  font-family: "Helvetica Neue-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 948px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 114px;
  white-space: nowrap;
}

.contact-us .text-wrapper-4 {
  color: #ecececcc;
  font-family: "Helvetica Neue-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 542px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 148px;
  white-space: nowrap;
}

.contact-us .text-wrapper-5 {
  color: #ecececcc;
  font-family: "Helvetica Neue-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 948px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 148px;
  white-space: nowrap;
}

.contact-us .text-wrapper-6 {
  color: #ecececcc;
  font-family: "Helvetica Neue-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 542px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 182px;
  white-space: nowrap;
}

.contact-us .text-wrapper-7 {
  color: #ecececcc;
  font-family: "Helvetica Neue-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 948px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 182px;
  white-space: nowrap;
}

.contact-us .text-wrapper-8 {
  color: #ecececcc;
  font-family: "Helvetica Neue-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 542px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 216px;
  white-space: nowrap;
}

.contact-us .text-wrapper-9 {
  color: #ecececcc;
  font-family: "Helvetica Neue-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 948px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 216px;
  white-space: nowrap;
}

.contact-us .text-wrapper-10 {
  color: #ecececcc;
  font-family: "Helvetica Neue-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 542px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 250px;
  white-space: nowrap;
}

.contact-us .text-wrapper-11 {
  color: #ecececcc;
  font-family: "Helvetica Neue-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 948px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 250px;
  white-space: nowrap;
}

.contact-us .line {
  height: 368px;
  left: 500px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1px;
}

.contact-us .line-2 {
  height: 368px;
  left: 906px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1px;
}

.contact-us .vector-2 {
  height: 14px;
  left: 542px;
  position: absolute;
  top: 80px;
  width: 19px;
}

.contact-us .vector-3 {
  height: 14px;
  left: 948px;
  position: absolute;
  top: 80px;
  width: 19px;
}

.contact-us .text-wrapper-12 {
  color: #ffffff;
  font-family: "Helvetica Neue-Medium", Helvetica;
  font-size: 18px;
  font-weight: 500;
  left: 575px;
  letter-spacing: 0;
  line-height: 19.8px;
  position: absolute;
  top: 77px;
  white-space: nowrap;
}

.contact-us .text-wrapper-13 {
  color: #ffffff;
  font-family: "Helvetica Neue-Medium", Helvetica;
  font-size: 18px;
  font-weight: 500;
  left: 981px;
  letter-spacing: 0;
  line-height: 19.8px;
  position: absolute;
  top: 77px;
  white-space: nowrap;
}

.contact-us .text-wrapper-14 {
  color: #ececec;
  font-family: "Helvetica Neue-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 124px;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  top: 287px;
  white-space: nowrap;
}

.contact-us .text-wrapper-15 {
  color: #ececec;
  font-family: "Helvetica Neue-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 207px;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  top: 287px;
  white-space: nowrap;
}

.contact-us .mask-group {
  height: 36px;
  left: 124px;
  position: absolute;
  top: calc(50.00% - 107px);
  width: 52px;
}

.contact-us .frame-2 {
  background-color: #1f1f1f;
  height: 80px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.contact-us .div-wrapper {
  align-items: center;
  background-color: #179fd9;
  border-radius: 4px;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  left: 1195px;
  padding: 12px 22px;
  position: absolute;
  top: 18px;
}

.contact-us .text-wrapper-16 {
  color: #ffffff;
  font-family: "Manrope", Helvetica;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.contact-us .search {
  height: 24px;
  left: 1148px;
  position: absolute;
  top: 28px;
  width: 24px;
}

.contact-us .vector-4 {
  height: 75.00%;
  left: 12.50%;
  position: absolute;
  top: 12.50%;
  width: 75.00%;
}

.contact-us .image-removebg {
  aspect-ratio: 1.46;
  height: 53px;
  left: 54px;
  position: absolute;
  top: calc(50.00% - 27px);
  width: 78px;
}

.contact-us .navbar {
  align-items: center;
  background-color: #179fd9;
  border-radius: 6px;
  display: inline-flex;
  gap: 32px;
  left: calc(50.00% - 188px);
  padding: 12px 32px;
  position: absolute;
  top: 18px;
}

.contact-us .MC-DOT {
  color: #e7e7e7;
  font-family: "Abel", Helvetica;
  font-size: 10px;
  font-weight: 400;
  left: 159px;
  letter-spacing: 0;
  line-height: 13.0px;
  position: absolute;
  top: 40px;
}

.contact-us .rectangle-2 {
  background-color: #1f1f1f;
  height: 739px;
  left: 0;
  position: absolute;
  top: 645px;
  width: 1440px;
}

.contact-us .text-wrapper-17 {
  color: #ffffff;
  font-family: "Helvetica Neue-Bold", Helvetica;
  font-size: 56px;
  font-weight: 700;
  left: calc(50.00% - 596px);
  letter-spacing: 0;
  line-height: 72.8px;
  position: absolute;
  top: 765px;
  white-space: nowrap;
}

.contact-us .text-wrapper-18 {
  color: #179fd9;
  font-family: "Helvetica Neue-Medium", Helvetica;
  font-size: 44px;
  font-weight: 500;
  left: calc(50.00% - 596px);
  letter-spacing: 0;
  line-height: 57.2px;
  position: absolute;
  top: 1050px;
  white-space: nowrap;
}

.contact-us .p {
  color: #dbdbdb;
  font-family: "Helvetica Neue-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 124px;
  letter-spacing: 0;
  line-height: 20.8px;
  position: absolute;
  top: 851px;
  width: 456px;
}

.contact-us .frame-3 {
  align-items: flex-start;
  border: 1px solid;
  border-color: #c2c2c2;
  border-radius: 9px;
  display: flex;
  gap: 10px;
  height: 201px;
  left: 675px;
  padding: 10px;
  position: absolute;
  top: 787px;
  width: 641px;
}

.contact-us .text-wrapper-19 {
  color: #8f8f8f;
  font-family: "Helvetica Neue-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 27px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.contact-us .frame-4 {
  align-items: center;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #c2c2c2;
  display: flex;
  gap: 10px;
  left: 675px;
  padding: 10px;
  position: absolute;
  top: 1016px;
  width: 641px;
}

.contact-us .frame-5 {
  align-items: center;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #c2c2c2;
  display: flex;
  gap: 10px;
  left: 675px;
  padding: 10px;
  position: absolute;
  top: 1091px;
  width: 641px;
}

.contact-us .text-wrapper-20 {
  color: #ffffff;
  font-family: "Helvetica Neue-Medium", Helvetica;
  font-size: 22px;
  font-weight: 500;
  left: 124px;
  letter-spacing: 0;
  line-height: 28.6px;
  position: absolute;
  top: 1008px;
  white-space: nowrap;
}

.contact-us .text-wrapper-21 {
  color: #d4d4d4;
  font-family: "Manrope", Helvetica;
  font-size: 14px;
  font-weight: 500;
  left: 124px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-decoration: underline;
  top: 1218px;
}

.contact-us .text-wrapper-22 {
  color: #d4d4d4;
  font-family: "Manrope", Helvetica;
  font-size: 14px;
  font-weight: 500;
  left: 320px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1218px;
}

.contact-us .text-wrapper-23 {
  color: #d4d4d4;
  font-family: "Manrope", Helvetica;
  font-size: 14px;
  font-weight: 500;
  left: 124px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-decoration: underline;
  top: 1245px;
}

.contact-us .text-wrapper-24 {
  color: #d4d4d4;
  font-family: "Manrope", Helvetica;
  font-size: 14px;
  font-weight: 500;
  left: 320px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1245px;
}

.contact-us .text-wrapper-25 {
  color: #ffffff;
  font-family: "Manrope", Helvetica;
  font-size: 22px;
  font-weight: 600;
  left: 124px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1177px;
}

.contact-us .text-wrapper-26 {
  color: #ffffff;
  font-family: "Manrope", Helvetica;
  font-size: 22px;
  font-weight: 600;
  left: 320px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1177px;
}

.contact-us .frame-6 {
  align-items: center;
  background-color: #179fd9;
  border-radius: 1000px;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  left: 675px;
  padding: 12px 32px;
  position: absolute;
  top: 1190px;
}

.contact-us .text-wrapper-27 {
  color: #ffffff;
  font-family: "Helvetica Neue-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 23.4px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}
