.services {
  background-color: #ffffff;
  min-height: 5513px;
  min-width: 1440px;
  position: relative;
  width: 100%;
}

.services .frame-28 {
  display: flex;
  height: 80px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.services .text-wrapper-145 {
  align-self: center;
  color: #212121;
  font-family: "Space Grotesk", Helvetica;
  font-size: 16px;
  font-weight: 500;
  height: 21px;
  letter-spacing: 0;
  line-height: 20.8px;
  margin-left: 124px;
  margin-top: -1px;
  white-space: nowrap;
  width: 159px;
}

.services .navbar-4 {
  display: flex;
  gap: 32px;
  margin-left: 43px;
  margin-top: 31px;
  width: 321px;
}

.services .text-wrapper-146 {
  color: #121212;
  font-family: "Manrope", Helvetica;
  font-size: 14px;
  font-weight: 500;
  height: 19px;
  letter-spacing: 0;
  line-height: normal;
  width: 39px;
}

.services .text-wrapper-147 {
  color: #121212;
  font-family: "Manrope", Helvetica;
  font-size: 14px;
  font-weight: 500;
  height: 19px;
  letter-spacing: 0;
  line-height: normal;
  width: 59px;
}

.services .text-wrapper-148 {
  color: #121212;
  font-family: "Manrope", Helvetica;
  font-size: 14px;
  font-weight: 500;
  height: 19px;
  letter-spacing: 0;
  line-height: normal;
  width: 57px;
}

.services .text-wrapper-149 {
  color: #121212;
  font-family: "Manrope", Helvetica;
  font-size: 14px;
  font-weight: 500;
  height: 19px;
  letter-spacing: 0;
  line-height: normal;
  width: 62px;
}

.services .menu-wrapper {
  align-items: center;
  background-color: #179fd9;
  border-radius: 4px;
  display: inline-flex;
  gap: 10px;
  height: 48px;
  justify-content: center;
  margin-left: 601px;
  margin-top: 18px;
  padding: 12px 22px;
  position: relative;
  width: 68px;
}

.services .menu {
  height: 24px;
  position: relative;
  width: 24px;
}

.services .vector-22 {
  height: 50.00%;
  left: 12.50%;
  position: absolute;
  top: 25.00%;
  width: 75.00%;
}

.services .frame-29 {
  background-image: url(https://cdn.animaapp.com/projects/68c367638464b4d7f868904d/releases/68f13c8c7a40b4019cb45c3a/img/frame-4-2.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 292px;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.services .text-wrapper-150 {
  color: #ffffff;
  font-family: "Helvetica Neue-Bold", Helvetica;
  font-size: 44px;
  font-weight: 700;
  height: 57px;
  letter-spacing: 0;
  line-height: 57.2px;
  margin-left: 1px;
  margin-top: 146px;
  white-space: nowrap;
  width: 269px;
}

.services .rectangle-22 {
  background-color: #1f1f1f;
  height: 853px;
  left: 0;
  position: absolute;
  top: 2728px;
  width: 1440px;
}

.services .text-wrapper-151 {
  color: #ffffff;
  font-family: "Helvetica Neue-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 869px;
  letter-spacing: 0;
  line-height: 20.8px;
  position: absolute;
  top: 2994px;
  width: 456px;
}

.services .text-wrapper-152 {
  color: #ffffff;
  font-family: "Helvetica Neue-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 869px;
  letter-spacing: 0;
  line-height: 20.8px;
  position: absolute;
  top: 3143px;
  width: 456px;
}

.services .text-wrapper-153 {
  color: #ffffff;
  font-family: "Helvetica Neue-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 869px;
  letter-spacing: 0;
  line-height: 20.8px;
  position: absolute;
  top: 3292px;
  width: 456px;
}

.services .text-wrapper-154 {
  color: #ffffff;
  font-family: "Helvetica Neue-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 869px;
  letter-spacing: 0;
  line-height: 20.8px;
  position: absolute;
  top: 3441px;
  width: 456px;
}

.services .frame-30 {
  align-items: center;
  background-color: #179fd9;
  border-radius: 1000px;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  left: 1167px;
  padding: 12px 32px;
  position: absolute;
  top: 2855px;
}

.services .text-wrapper-155 {
  color: #ffffff;
  font-family: "Helvetica Neue-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 23.4px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.services .line-13 {
  height: 1px;
  left: 124px;
  object-fit: cover;
  position: absolute;
  top: 2923px;
  width: 1192px;
}

.services .line-14 {
  height: 1px;
  left: 124px;
  object-fit: cover;
  position: absolute;
  top: 3054px;
  width: 1192px;
}

.services .line-15 {
  height: 1px;
  left: 124px;
  object-fit: cover;
  position: absolute;
  top: 3211px;
  width: 1192px;
}

.services .line-16 {
  height: 1px;
  left: 124px;
  object-fit: cover;
  position: absolute;
  top: 3368px;
  width: 1192px;
}

.services .text-wrapper-156 {
  color: #ffffff;
  font-family: "Helvetica Neue-Bold", Helvetica;
  font-size: 32px;
  font-weight: 700;
  left: 124px;
  letter-spacing: 0;
  line-height: 41.6px;
  position: absolute;
  top: 2818px;
  width: 246px;
}

.services .text-wrapper-157 {
  color: #179fd9;
  font-family: "Helvetica Neue-Bold", Helvetica;
  font-size: 90px;
  font-weight: 700;
  left: 124px;
  letter-spacing: 0;
  line-height: 117.0px;
  position: absolute;
  top: 2956px;
  white-space: nowrap;
}

.services .text-wrapper-158 {
  color: #179fd9;
  font-family: "Helvetica Neue-Bold", Helvetica;
  font-size: 90px;
  font-weight: 700;
  left: 124px;
  letter-spacing: 0;
  line-height: 117.0px;
  position: absolute;
  top: 3105px;
  white-space: nowrap;
}

.services .text-wrapper-159 {
  color: #179fd9;
  font-family: "Helvetica Neue-Bold", Helvetica;
  font-size: 90px;
  font-weight: 700;
  left: 124px;
  letter-spacing: 0;
  line-height: 117.0px;
  position: absolute;
  top: 3254px;
  white-space: nowrap;
}

.services .text-wrapper-160 {
  color: #179fd9;
  font-family: "Helvetica Neue-Bold", Helvetica;
  font-size: 90px;
  font-weight: 700;
  left: 124px;
  letter-spacing: 0;
  line-height: 117.0px;
  position: absolute;
  top: 3403px;
  white-space: nowrap;
}

.services .text-wrapper-161 {
  color: #ffffff;
  font-family: "Helvetica Neue-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 500px;
  letter-spacing: 0;
  line-height: 26.0px;
  position: absolute;
  top: 3002px;
  white-space: nowrap;
}

.services .text-wrapper-162 {
  color: #ffffff;
  font-family: "Helvetica Neue-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 500px;
  letter-spacing: 0;
  line-height: 26.0px;
  position: absolute;
  top: 3151px;
  white-space: nowrap;
}

.services .text-wrapper-163 {
  color: #ffffff;
  font-family: "Helvetica Neue-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 500px;
  letter-spacing: 0;
  line-height: 26.0px;
  position: absolute;
  top: 3300px;
  white-space: nowrap;
}

.services .text-wrapper-164 {
  color: #ffffff;
  font-family: "Helvetica Neue-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 500px;
  letter-spacing: 0;
  line-height: 26.0px;
  position: absolute;
  top: 3449px;
  white-space: nowrap;
}

.services .group-8 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 176px;
  left: 124px;
  position: absolute;
  top: 3769px;
  width: 579px;
}

.services .text-wrapper-165 {
  color: #1a1a1a;
  font-family: "Helvetica Neue-Medium", Helvetica;
  font-size: 38px;
  font-weight: 500;
  height: 98px;
  letter-spacing: 0;
  line-height: 49.4px;
  width: 524px;
}

.services .text-wrapper-166 {
  color: #191919;
  font-family: "Helvetica Neue-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 63px;
  letter-spacing: 0;
  line-height: 20.8px;
  width: 575px;
}

.services .vector-23 {
  height: 338px;
  left: 774px;
  object-fit: cover;
  position: absolute;
  top: 3688px;
  width: 542px;
}

.services .frame-31 {
  align-items: center;
  display: inline-flex;
  gap: 95px;
  left: calc(50.00% - 455px);
  position: absolute;
  top: 4146px;
}

.services .group-9 {
  height: 75px;
  position: relative;
  width: 185px;
}

.services .text-wrapper-167 {
  color: #179fd9;
  font-family: "Helvetica Neue-Bold", Helvetica;
  font-size: 50px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: 65.0px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.services .text-wrapper-168 {
  color: #262626;
  font-family: "Helvetica Neue-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 20.8px;
  position: absolute;
  top: 54px;
  white-space: nowrap;
}

.services .group-10 {
  height: 75px;
  position: relative;
  width: 164px;
}

.services .group-11 {
  height: 75px;
  position: relative;
  width: 146px;
}

.services .group-12 {
  height: 75px;
  margin-right: -4.00px;
  position: relative;
  width: 146px;
}

.services .text-wrapper-169 {
  color: #181818;
  font-family: "Helvetica Neue-Medium", Helvetica;
  font-size: 18px;
  font-weight: 500;
  left: 124px;
  letter-spacing: 0;
  line-height: 19.8px;
  position: absolute;
  top: 4341px;
  white-space: nowrap;
}

.services .text-wrapper-170 {
  color: #181818;
  font-family: "Helvetica Neue-Medium", Helvetica;
  font-size: 18px;
  font-weight: 500;
  left: 124px;
  letter-spacing: 0;
  line-height: 19.8px;
  position: absolute;
  top: 4487px;
  white-space: nowrap;
}

.services .line-17 {
  height: 1px;
  left: 124px;
  object-fit: cover;
  position: absolute;
  top: 4370px;
  width: 580px;
}

.services .line-18 {
  height: 1px;
  left: 124px;
  object-fit: cover;
  position: absolute;
  top: 4516px;
  width: 580px;
}

.services .text-wrapper-171 {
  color: #212121;
  font-family: "Helvetica Neue-Bold", Helvetica;
  font-size: 32px;
  font-weight: 700;
  left: 124px;
  letter-spacing: 0;
  line-height: 41.6px;
  position: absolute;
  top: 4403px;
  white-space: nowrap;
}

.services .text-wrapper-172 {
  color: #212121;
  font-family: "Helvetica Neue-Bold", Helvetica;
  font-size: 32px;
  font-weight: 700;
  left: 124px;
  letter-spacing: 0;
  line-height: 41.6px;
  position: absolute;
  top: 4549px;
  white-space: nowrap;
}

.services .vector-24 {
  height: 14px;
  left: 219px;
  position: absolute;
  top: 4417px;
  width: 19px;
}

.services .vector-25 {
  height: 14px;
  left: 219px;
  position: absolute;
  top: 4563px;
  width: 19px;
}

.services .text-wrapper-173 {
  color: #454545;
  font-family: "Helvetica Neue-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 258px;
  letter-spacing: 0;
  line-height: 27px;
  position: absolute;
  top: 4397px;
  width: 456px;
}

.services .text-wrapper-174 {
  color: #454545;
  font-family: "Helvetica Neue-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 258px;
  letter-spacing: 0;
  line-height: 27px;
  position: absolute;
  top: 4543px;
  width: 456px;
}

.services .vector-26 {
  height: 317px;
  left: 833px;
  object-fit: cover;
  position: absolute;
  top: 4328px;
  width: 483px;
}

.services .rectangle-23 {
  height: 379px;
  left: 0;
  position: absolute;
  top: 4766px;
  width: 1440px;
}

.services .vector-27 {
  height: 163px;
  left: 500px;
  position: absolute;
  top: 4866px;
  width: 221px;
}

.services .vector-28 {
  height: 163px;
  left: 704px;
  position: absolute;
  top: 4866px;
  width: 221px;
}

.services .text-wrapper-175 {
  color: #ffffff;
  font-family: "Helvetica Neue-Bold", Helvetica;
  font-size: 48px;
  font-weight: 700;
  left: calc(50.00% - 365px);
  letter-spacing: 0;
  line-height: 62.4px;
  position: absolute;
  top: 4925px;
  white-space: nowrap;
}

.services .frame-32 {
  background-color: #179fd9;
  height: 368px;
  left: 0;
  position: absolute;
  top: 5145px;
  width: 1440px;
}

.services .text-wrapper-176 {
  color: #ececec;
  font-family: "Helvetica Neue-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 124px;
  letter-spacing: 0;
  line-height: 27px;
  position: absolute;
  top: 130px;
  width: 172px;
}

.services .text-wrapper-177 {
  color: #ecececcc;
  font-family: "Helvetica Neue-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 542px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 114px;
  white-space: nowrap;
}

.services .text-wrapper-178 {
  color: #ecececcc;
  font-family: "Helvetica Neue-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 948px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 114px;
  white-space: nowrap;
}

.services .text-wrapper-179 {
  color: #ecececcc;
  font-family: "Helvetica Neue-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 542px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 148px;
  white-space: nowrap;
}

.services .text-wrapper-180 {
  color: #ecececcc;
  font-family: "Helvetica Neue-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 948px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 148px;
  white-space: nowrap;
}

.services .text-wrapper-181 {
  color: #ecececcc;
  font-family: "Helvetica Neue-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 542px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 182px;
  white-space: nowrap;
}

.services .text-wrapper-182 {
  color: #ecececcc;
  font-family: "Helvetica Neue-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 948px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 182px;
  white-space: nowrap;
}

.services .text-wrapper-183 {
  color: #ecececcc;
  font-family: "Helvetica Neue-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 542px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 216px;
  white-space: nowrap;
}

.services .text-wrapper-184 {
  color: #ecececcc;
  font-family: "Helvetica Neue-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 948px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 216px;
  white-space: nowrap;
}

.services .text-wrapper-185 {
  color: #ecececcc;
  font-family: "Helvetica Neue-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 542px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 250px;
  white-space: nowrap;
}

.services .text-wrapper-186 {
  color: #ecececcc;
  font-family: "Helvetica Neue-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 948px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 250px;
  white-space: nowrap;
}

.services .line-19 {
  height: 368px;
  left: 500px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1px;
}

.services .line-20 {
  height: 368px;
  left: 906px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1px;
}

.services .vector-29 {
  height: 14px;
  left: 542px;
  position: absolute;
  top: 80px;
  width: 19px;
}

.services .vector-30 {
  height: 14px;
  left: 948px;
  position: absolute;
  top: 80px;
  width: 19px;
}

.services .text-wrapper-187 {
  color: #ffffff;
  font-family: "Helvetica Neue-Medium", Helvetica;
  font-size: 18px;
  font-weight: 500;
  left: 575px;
  letter-spacing: 0;
  line-height: 19.8px;
  position: absolute;
  top: 77px;
  white-space: nowrap;
}

.services .text-wrapper-188 {
  color: #ffffff;
  font-family: "Helvetica Neue-Medium", Helvetica;
  font-size: 18px;
  font-weight: 500;
  left: 981px;
  letter-spacing: 0;
  line-height: 19.8px;
  position: absolute;
  top: 77px;
  white-space: nowrap;
}

.services .text-wrapper-189 {
  color: #ececec;
  font-family: "Helvetica Neue-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 124px;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  top: 287px;
  white-space: nowrap;
}

.services .text-wrapper-190 {
  color: #ececec;
  font-family: "Helvetica Neue-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 207px;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  top: 287px;
  white-space: nowrap;
}

.services .mask-group-4 {
  height: 36px;
  left: 124px;
  position: absolute;
  top: calc(50.00% - 107px);
  width: 52px;
}

.services .frame-33 {
  align-items: center;
  background-color: #179fd9;
  border-radius: 1000px;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  left: 857px;
  padding: 12px 32px;
  position: absolute;
  top: 2463px;
}

.services .rectangle-24 {
  height: 468px;
  left: 287px;
  object-fit: cover;
  position: absolute;
  top: 2110px;
  width: 468px;
}

.services .rectangle-25 {
  background-color: #179fd9;
  height: 178px;
  left: 221px;
  position: absolute;
  top: 2430px;
  width: 161px;
}

.services .text-wrapper-191 {
  color: #1f1f1f;
  font-family: "Helvetica Neue-Medium", Helvetica;
  font-size: 14px;
  font-weight: 500;
  left: 889px;
  letter-spacing: 0;
  line-height: 18.2px;
  position: absolute;
  top: 2300px;
  white-space: nowrap;
}

.services .text-wrapper-192 {
  color: #1f1f1f;
  font-family: "Helvetica Neue-Medium", Helvetica;
  font-size: 14px;
  font-weight: 500;
  left: 1090px;
  letter-spacing: 0;
  line-height: 18.2px;
  position: absolute;
  top: 2300px;
  white-space: nowrap;
}

.services .text-wrapper-193 {
  color: #1f1f1f;
  font-family: "Helvetica Neue-Medium", Helvetica;
  font-size: 14px;
  font-weight: 500;
  left: 889px;
  letter-spacing: 0;
  line-height: 18.2px;
  position: absolute;
  top: 2340px;
  white-space: nowrap;
}

.services .text-wrapper-194 {
  color: #1f1f1f;
  font-family: "Helvetica Neue-Medium", Helvetica;
  font-size: 14px;
  font-weight: 500;
  left: 1090px;
  letter-spacing: 0;
  line-height: 18.2px;
  position: absolute;
  top: 2340px;
  white-space: nowrap;
}

.services .text-wrapper-195 {
  color: #1f1f1f;
  font-family: "Helvetica Neue-Medium", Helvetica;
  font-size: 14px;
  font-weight: 500;
  left: 889px;
  letter-spacing: 0;
  line-height: 18.2px;
  position: absolute;
  top: 2380px;
  white-space: nowrap;
}

.services .text-wrapper-196 {
  color: #1f1f1f;
  font-family: "Helvetica Neue-Medium", Helvetica;
  font-size: 14px;
  font-weight: 500;
  left: 1090px;
  letter-spacing: 0;
  line-height: 18.2px;
  position: absolute;
  top: 2380px;
  white-space: nowrap;
}

.services .text-wrapper-197 {
  color: #121212;
  font-family: "Helvetica Neue-Bold", Helvetica;
  font-size: 32px;
  font-weight: 700;
  left: 857px;
  letter-spacing: 0;
  line-height: 41.6px;
  position: absolute;
  top: 2178px;
  width: 329px;
}

.services .check-small-10 {
  height: 24px;
  left: 857px;
  position: absolute;
  top: 2297px;
  width: 24px;
}

.services .vector-31 {
  height: 39.17%;
  left: 25.00%;
  position: absolute;
  top: 29.17%;
  width: 50.00%;
}

.services .check-small-11 {
  height: 24px;
  left: 1058px;
  position: absolute;
  top: 2297px;
  width: 24px;
}

.services .check-small-12 {
  height: 24px;
  left: 857px;
  position: absolute;
  top: 2337px;
  width: 24px;
}

.services .check-small-13 {
  height: 24px;
  left: 1058px;
  position: absolute;
  top: 2337px;
  width: 24px;
}

.services .check-small-14 {
  height: 24px;
  left: 857px;
  position: absolute;
  top: 2377px;
  width: 24px;
}

.services .check-small-15 {
  height: 24px;
  left: 1058px;
  position: absolute;
  top: 2377px;
  width: 24px;
}

.services .ellipse-5 {
  height: 110px;
  left: 245px;
  position: absolute;
  top: 2444px;
  width: 110px;
}

.services .ellipse-6 {
  height: 110px;
  left: 245px;
  position: absolute;
  top: 2444px;
  width: 107px;
}

.services .text-wrapper-198 {
  color: #ffffff;
  font-family: "Helvetica Neue-Medium", Helvetica;
  font-size: 14px;
  font-weight: 500;
  left: 234px;
  letter-spacing: 0;
  line-height: 18.2px;
  position: absolute;
  top: 2578px;
  white-space: nowrap;
}

.services .text-wrapper-199 {
  color: #ffffff;
  font-family: "Helvetica Neue-Medium", Helvetica;
  font-size: 12px;
  font-weight: 500;
  left: 344px;
  letter-spacing: 0;
  line-height: 15.6px;
  position: absolute;
  top: 2579px;
  white-space: nowrap;
}

.services .text-wrapper-200 {
  color: #ffffff;
  font-family: "Helvetica Neue-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 269px;
  letter-spacing: 0;
  line-height: 26.0px;
  position: absolute;
  top: 2488px;
  white-space: nowrap;
}

.services .polygon-3 {
  height: 8px;
  left: 333px;
  position: absolute;
  top: 2582px;
  width: 9px;
}

.services .frame-34 {
  background-color: #1f1f1f;
  height: 80px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.services .frame-35 {
  align-items: center;
  background-color: #179fd9;
  border-radius: 4px;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  left: 1195px;
  padding: 12px 22px;
  position: absolute;
  top: 18px;
}

.services .text-wrapper-201 {
  color: #ffffff;
  font-family: "Manrope", Helvetica;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.services .search-3 {
  height: 24px;
  left: 1148px;
  position: absolute;
  top: 28px;
  width: 24px;
}

.services .vector-32 {
  height: 75.00%;
  left: 12.50%;
  position: absolute;
  top: 12.50%;
  width: 75.00%;
}

.services .image-removebg-4 {
  aspect-ratio: 1.46;
  height: 53px;
  left: 54px;
  position: absolute;
  top: calc(50.00% - 27px);
  width: 78px;
}

.services .navbar-5 {
  align-items: center;
  background-color: #179fd9;
  border-radius: 6px;
  display: inline-flex;
  gap: 32px;
  left: calc(50.00% - 188px);
  padding: 12px 32px;
  position: absolute;
  top: 18px;
}

.services .MC-DOT-4 {
  color: #e7e7e7;
  font-family: "Abel", Helvetica;
  font-size: 10px;
  font-weight: 400;
  left: 159px;
  letter-spacing: 0;
  line-height: 13.0px;
  position: absolute;
  top: 40px;
}

.services .frame-36 {
  background-color: #1f1f1f;
  border-radius: 0px 0px 14px 14px;
  height: 1698px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 292px;
  width: 1440px;
}

.services .rectangle-26 {
  height: 548px;
  left: 124px;
  object-fit: cover;
  position: absolute;
  top: 923px;
  width: 376px;
}

.services .rectangle-27 {
  height: 548px;
  left: 532px;
  object-fit: cover;
  position: absolute;
  top: 923px;
  width: 376px;
}

.services .rectangle-28 {
  height: 548px;
  left: 940px;
  object-fit: cover;
  position: absolute;
  top: 923px;
  width: 376px;
}

.services .rectangle-29 {
  height: 548px;
  left: 1348px;
  object-fit: cover;
  position: absolute;
  top: 923px;
  width: 92px;
}

.services .group-13 {
  display: flex;
  flex-direction: column;
  height: 159px;
  left: 167px;
  position: absolute;
  top: 116px;
  width: 302px;
}

.services .screenshot-capture-5 {
  aspect-ratio: 1.02;
  height: 82px;
  width: 84px;
}

.services .text-wrapper-202 {
  color: #ffffff;
  font-family: "Space Grotesk", Helvetica;
  font-size: 18px;
  font-weight: 500;
  height: 23px;
  letter-spacing: 0;
  line-height: 23.4px;
  margin-top: 8px;
  white-space: nowrap;
  width: 171px;
}

.services .text-wrapper-203 {
  color: #646464;
  font-family: "Manrope", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 42px;
  letter-spacing: 0;
  line-height: 21px;
  margin-top: 4px;
  width: 298px;
}

.services .group-14 {
  display: flex;
  flex-direction: column;
  height: 167px;
  left: 571px;
  position: absolute;
  top: 108px;
  width: 302px;
}

.services .screenshot-capture-6 {
  aspect-ratio: 1.16;
  height: 98px;
  width: 114px;
}

.services .text-wrapper-204 {
  color: #ffffff;
  font-family: "Space Grotesk", Helvetica;
  font-size: 18px;
  font-weight: 500;
  height: 23px;
  letter-spacing: 0;
  line-height: 23.4px;
  white-space: nowrap;
  width: 191px;
}

.services .group-15 {
  display: flex;
  flex-direction: column;
  height: 156px;
  left: 974px;
  position: absolute;
  top: 119px;
  width: 302px;
}

.services .screenshot-capture-7 {
  aspect-ratio: 1.15;
  height: 79px;
  width: 91px;
}

.services .text-wrapper-205 {
  color: #ffffff;
  font-family: "Space Grotesk", Helvetica;
  font-size: 18px;
  font-weight: 500;
  height: 23px;
  letter-spacing: 0;
  line-height: 23.4px;
  margin-top: 8px;
  white-space: nowrap;
  width: 146px;
}

.services .image-2 {
  aspect-ratio: 2.06;
  height: 318px;
  left: calc(50.00% - 327px);
  object-fit: cover;
  position: absolute;
  top: 357px;
  width: 655px;
}

.services .text-wrapper-206 {
  -webkit-text-stroke: 2px #2888df;
  color: transparent;
  font-family: "Manrope", Helvetica;
  font-size: 132px;
  font-weight: 700;
  left: 445px;
  letter-spacing: 0;
  line-height: 171.6px;
  position: absolute;
  top: 391px;
  white-space: nowrap;
}

.services .text-wrapper-207 {
  color: #ffffff;
  font-family: "Manrope", Helvetica;
  font-size: 14px;
  font-weight: 500;
  left: 920px;
  letter-spacing: 0;
  line-height: 18.2px;
  position: absolute;
  top: 457px;
  transform: rotate(-90.00deg);
  width: 110px;
}

.services .text-wrapper-208 {
  color: #ffffff;
  font-family: "Manrope", Helvetica;
  font-size: 14px;
  font-weight: 500;
  left: calc(50.00% - 36px);
  letter-spacing: 0;
  line-height: 18.2px;
  position: absolute;
  top: 757px;
  white-space: nowrap;
}

.services .text-wrapper-209 {
  color: #ffffff;
  font-family: "Space Grotesk", Helvetica;
  font-size: 32px;
  font-weight: 500;
  left: calc(50.00% - 336px);
  letter-spacing: 0;
  line-height: 41.6px;
  position: absolute;
  text-align: center;
  top: 783px;
  width: 673px;
}

.services .frame-37 {
  align-items: center;
  border: 1px solid;
  border-color: #ffffff;
  border-radius: 14px;
  display: flex;
  gap: 10px;
  left: 226px;
  padding: 12px 32px 12px 22px;
  position: absolute;
  top: 1547px;
  width: 167px;
}

.services .text-wrapper-210 {
  color: #ffffff;
  font-family: "Manrope", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.services .arrow-outward-dp-wrapper {
  background-color: #ffffff;
  border-radius: 14px;
  display: flex;
  height: 43px;
  left: 344px;
  position: absolute;
  top: 1547px;
  width: 49px;
}

.services .arrow-outward-dp {
  height: 24px;
  margin-left: 13px;
  margin-top: 10px;
  position: relative;
  width: 24px;
}

.services .vector-33 {
  height: 54.17%;
  left: 20.83%;
  position: absolute;
  top: 20.83%;
  width: 54.17%;
}

.services .text-wrapper-211 {
  color: #ffffff;
  font-family: "Space Grotesk", Helvetica;
  font-size: 22px;
  font-weight: 500;
  left: calc(50.00% - 575px);
  letter-spacing: 0;
  line-height: 28.6px;
  position: absolute;
  text-align: center;
  top: 1306px;
  white-space: nowrap;
}

.services .text-wrapper-212 {
  color: #ffffff;
  font-family: "Space Grotesk", Helvetica;
  font-size: 22px;
  font-weight: 500;
  left: calc(50.00% - 162px);
  letter-spacing: 0;
  line-height: 28.6px;
  position: absolute;
  text-align: center;
  top: 1306px;
  white-space: nowrap;
}

.services .text-wrapper-213 {
  color: #ffffff;
  font-family: "Space Grotesk", Helvetica;
  font-size: 22px;
  font-weight: 500;
  left: calc(50.00% + 245px);
  letter-spacing: 0;
  line-height: 28.6px;
  position: absolute;
  text-align: center;
  top: 1306px;
  white-space: nowrap;
}

.services .text-wrapper-214 {
  color: #ffffff;
  font-family: "Space Grotesk", Helvetica;
  font-size: 22px;
  font-weight: 500;
  left: calc(50.00% + 665px);
  letter-spacing: 0;
  line-height: 28.6px;
  position: absolute;
  text-align: center;
  top: 1306px;
  white-space: nowrap;
}

.services .text-wrapper-215 {
  color: #ffffff;
  font-family: "Manrope", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 145px;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  top: 1357px;
  width: 324px;
}

.services .text-wrapper-216 {
  color: #ffffff;
  font-family: "Manrope", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 558px;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  top: 1357px;
  width: 324px;
}

.services .text-wrapper-217 {
  color: #ffffff;
  font-family: "Manrope", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 965px;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  top: 1357px;
  width: 324px;
}

.services .text-wrapper-218 {
  color: #ffffff;
  font-family: "Manrope", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 1385px;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  top: 1357px;
  width: 324px;
}
